@import 'assets/style/_colors.scss';

.filter-container {
	width: 100%;
	padding: 16px 0 30px;
	background-color: #fff;
	overflow: visible;
}

.filter {
	width: 78%;
	overflow-x: auto;
	overflow-y: visible;
	&::-webkit-scrollbar {
		display: none;
	}
}

.filter-button {
	margin-right: 12px;
	padding: 6px 12px;
	border: 1.5px solid $main-color-deep-green;
	border-radius: 50px;
	background: #fff;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	&:hover {
		background-color: #f6ffed;
	}
	&.dropdown::after {
		content: '▼';
		font-size: 10px;
		margin-left: 4px;
	}
}

.count-container {
	gap: 10px;
}

.dropdown-menu {
	max-width: 50% !important;
	min-width: 120px !important;
	margin-top: 5px;
	background: #fff;
	border: 1.5px solid $main-color-deep-green;
	border-radius: 8px;
	padding: 8px;
	max-height: 300px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
}

.dropdown-item {
	margin: 3px;
	padding: 5px 8px;
	border: 1px solid $sub-color-dark-green;
	border-radius: 10px;
	background-color: white;
	&:hover {
		background-color: #f6ffed;
	}
	&.selected {
		background-color: $sub-color-green;
		border: 1px solid $sub-color-green;
		color: #fff;
	}
}

.days-menu {
	button {
		flex: 1;
	}

	.cycle-selector {
		display: flex;
		margin-bottom: 8px;

		button {
			flex: 1;
		}
	}

	.count-input-wrapper {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.count-input {
		width: 48px;
		text-align: center;
	}
}
