@import 'assets/style/_colors.scss';

.group-info-container {
	width: 100%;
	background-color: white;
	padding: 3px 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.group-meta-row-1,
.group-meta-row-2 {
	gap: 4px;
	margin-bottom: 8px;
}

.meta-item {
	padding: 2px 6px;
	white-space: nowrap;
	gap: 5px;
}

.notice-info-label {
	color: rgb(98, 98, 98);
	font-weight: 500;
}

.dot-divider {
	margin: 0 4px;
}

.category-type-item {
	padding: 2px 6px;
	gap: 5px;
	word-break: break-word;
	white-space: normal;
	text-align: center;
}

.group-notice {
	margin-top: 20px;
	position: relative;
	width: 100%;
}

.notice-label {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #fff;
	padding: 0 8px;
}

.notice-header {
	border-radius: 10px;
	width: 90%;
	min-height: 120px;
	padding: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.notice-content {
	width: auto;
	white-space: pre-wrap;
	word-break: break-word;
	text-align: left;
}
