.goal-table-wrapper {
	margin: 30px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
}

.weekly-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	table-layout: fixed;
}

.weekly-table tr {
	border-bottom: 1px solid #eee;
}

.weekly-table td {
	padding: 1rem;
	vertical-align: top;
}

.day-label {
	width: 80px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #eee;
	white-space: nowrap;
}

.day-tasks {
	padding-left: 0.5rem;

	.task-date {
		color: #aaa;
		font-size: 0.75rem;
		margin-bottom: 0.5rem;
	}

	.task-row {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 0.4rem;
		word-break: break-word;
	}

	.empty-task,
	.add-more {
		color: #888;
		cursor: pointer;
		margin-top: 0.4rem;
		font-size: 12px;
	}

	.empty-task:hover,
	.add-more:hover {
		text-decoration: underline;
	}
}

// 수정&확인 버튼
.confirm-btn {
	display: block;
	margin: 30px auto;
	background-color: #b6e7b6;
	color: #333;
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;

	&:hover {
		background-color: #a4d7a4;
	}
}
