.goal-table-wrapper {
	margin: 30px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
}

.weekly-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	table-layout: fixed;
}

.weekly-table tr {
	border-bottom: 1px solid #eee;
}

.weekly-table td {
	padding: 1rem;
	vertical-align: top;
}

.day-label {
	width: 80px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #eee;
	white-space: nowrap;
}

.day-tasks {
	position: relative; // 날짜 절대위치용
	padding-left: 0.5rem;
	padding-top: 2rem; // 날짜 뜰 공간 확보 (원하는 만큼 조절)

	.task-date {
		color: #aaa;
		font-size: 0.75rem;
		margin-bottom: 5px;
	}

	.task-row {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 0.4rem;
		word-break: break-word;
	}

	.empty-task,
	.add-more {
		color: #888;
		cursor: pointer;
		margin-top: 0.4rem;
		font-size: 12px;
	}

	.empty-task:hover,
	.add-more:hover {
		text-decoration: underline;
	}
}

// 하단 버튼
.bottom-btn {
	display: flex;
	justify-content: center;
	margin: 1rem auto;
	gap: 25px;

	.confirm-btn {
		background-color: #b6e7b6;
		color: #333;
		border: none;
		padding: 0.5rem 1.5rem;
		border-radius: 8px;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;

		&:hover {
			background-color: #a4d7a4;
		}
	}

	.cancel-btn {
		background-color: #dbdbdb;
		color: #333;
		border: none;
		padding: 0.5rem 1.5rem;
		border-radius: 8px;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;

		&:hover {
			background-color: #c1c1c1;
		}
	}
}

.x-btn {
	background-color: transparent;
	border: none;
	color: rgb(234, 37, 37);
	font-size: 13px;
	cursor: pointer;
	transition: color 0.3s;

	&:hover {
		color: #444;
	}
}
