.modal {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: white;
	border-radius: 20px;
	padding: 24px;
	max-width: 420px;
	width: 100%;
	max-height: 90vh;
	overflow-y: auto;
}
