$main-color-green: #b4eba2;
$main-color-light-green: rgb(217, 239, 150);
$main-color-dark-green: #a2ca91;
$main-color-deep-green: #9cc86c;

$sub-color-green: #a1cd92;
$sub-color-dark-green: #679634;
$sub-color-deep-green: #587f2e;

$color-dark-green: #6d8f5e;
